.pro-sidebar {
    background-color: #61dafb;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: aqua;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: azure;
  }
  
  .nav-submenu {
    /* margin-left: -20px; */
    height: auto;
    display: inline;
    z-index: 999;
    top: 0;
    left: 50px;
  }
  
  .nav-submenu li {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }

  .nav-text li .menu-expand-icon{
    margin-right: 0;
    line-height: 20px;
    font-size: 11px;
    position: absolute;
    right: 100px;
    top: 16px;
    transform: rotate(0deg);
  }

  .nav-text.open li .menu-expand-icon {
    transform: rotate(90deg);
  }